#
# window settings
#

# disable window decorations
window_undecorated = true

#
# appearance
#

show_typing = true
typing_font_size = 120

# color of typed characters, in hex RGBA format
typing_font_color = 0x000000ff

# layout preset, for list of available values see layout.zig source file
layout_preset = tkl_ansi

# custom layout file path, absolute or relative to config file
# if empty then layout from layout_preset option used
layout_path = ""

# keycap theme, currently supported: 'default', 'kle' and 'vortex_pok3r'
theme = default

# tinting color for pressed keycaps
# tinting works by multiplication texture color with this color
key_tint_color = 0xff0000ff
